html {
  font-family: verdana;
  padding: 10px;
  text-align: center;
}

a {
  margin: 10px;
}

a:hover {
  background-color: yellow;
}

#error-message {
  visibility: hidden;
  color: red;
  padding: 10px;
}

#results {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
